body, html{
    /* margin: 60px auto; */
    /* width: 70%; */
    height:100%;
    margin:0;
    background:#D3CFCC;
}

.header-img{
    background-image: url("amanda-pic.png");
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    height:900px;

}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

  h1{
      font-family:'Buda';
  }

  h2{
    font-family:'Buda';
}

h3{
    font-family:'Buda';
}

p{
    font-family:'Buda';
}
