body, html{
    /* margin: 60px auto; */
    /* width: 70%; */
    height:100%;
    margin:0;
    background:#D3CFCC;
}

.header-img{
    background-image: url("amanda-pic.png");
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    height:900px;

}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

.header-title-col{
    padding-top:300px;
}

.header-title{
    font-size: 100px;
    padding-right: 80px;
}

.title-brown{
    color: #7C695B;
}
.desc-brown{
    color:#625144;
}
.btn-connect{
    color: #928681;
    border: 1px solid;
    font-family: 'Buda';
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
}
.desc-white{
    color:#E5E5E5;
}

.section-title-row{
    margin-left: 520px;
    margin-right: 520px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section-title-text{
    letter-spacing: 0.1em;
    margin-bottom: 5px;
    margin-top: 5px;
}

.content-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.content-desc{
    margin-top: 40px;
    margin-bottom: 40px;
}

.disclaimer-box{
    margin-top:40px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px; 
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom:40px;
    background: #29170D;
}
h1{
    font-family:'Buda';
}

h2{
    font-family:'Buda';
}

h3{
    font-family:'Buda';
}

p{
    font-family:'Buda';
    font-size:20px;
}
